#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#InstallShield
[Ss]ingle[Ii]mage/
[Dd][Vv][Dd]-5/
[Ii]nterm/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
src/packages/AvalonEdit.5.0.2/AvalonEdit.5.0.2.nupkg
src/packages/AvalonEdit.5.0.2/lib/Net35/ICSharpCode.AvalonEdit.dll
src/packages/AvalonEdit.5.0.2/lib/Net35/ICSharpCode.AvalonEdit.xml
src/packages/AvalonEdit.5.0.2/lib/Net40/ICSharpCode.AvalonEdit.dll
src/packages/AvalonEdit.5.0.2/lib/Net40/ICSharpCode.AvalonEdit.xml
src/packages/EntityFramework.6.1.2/content/App.config.transform
src/packages/EntityFramework.6.1.2/content/Web.config.transform
src/packages/EntityFramework.6.1.2/EntityFramework.6.1.2.nupkg
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.dll
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.SqlServer.dll
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.SqlServer.xml
src/packages/EntityFramework.6.1.2/lib/net40/EntityFramework.xml
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.dll
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.SqlServer.dll
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.SqlServer.xml
src/packages/EntityFramework.6.1.2/lib/net45/EntityFramework.xml
src/packages/EntityFramework.6.1.2/tools/about_EntityFramework.help.txt
src/packages/EntityFramework.6.1.2/tools/EntityFramework.PowerShell.dll
src/packages/EntityFramework.6.1.2/tools/EntityFramework.PowerShell.Utility.dll
src/packages/EntityFramework.6.1.2/tools/EntityFramework.psd1
src/packages/EntityFramework.6.1.2/tools/EntityFramework.psm1
src/packages/EntityFramework.6.1.2/tools/init.ps1
src/packages/EntityFramework.6.1.2/tools/install.ps1
src/packages/ICSharpCode.NRefactory.5.5.0/ICSharpCode.NRefactory.5.5.0.nupkg
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.Cecil.dll
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.Cecil.xml
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.CSharp.dll
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.CSharp.xml
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.dll
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.xml
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.Xml.dll
src/packages/ICSharpCode.NRefactory.5.5.0/lib/Net40/ICSharpCode.NRefactory.Xml.xml
src/packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.Mdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net20/Mono.Cecil.Pdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Mdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Pdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net35/Mono.Cecil.Rocks.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Mdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Pdb.dll
src/packages/Mono.Cecil.0.9.5.4/lib/net40/Mono.Cecil.Rocks.dll
src/packages/Mono.Cecil.0.9.5.4/lib/sl40/Mono.Cecil.dll
src/packages/Mono.Cecil.0.9.5.4/lib/sl40/Mono.Cecil.Rocks.dll
src/packages/Mono.Cecil.0.9.5.4/Mono.Cecil.0.9.5.4.nupkg
src/packages/repositories.config
src/packages/System.Data.SQLite.1.0.96.0/System.Data.SQLite.1.0.96.0.nupkg
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net20/System.Data.SQLite.dll
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net20/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net40/System.Data.SQLite.dll
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net40/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net45/System.Data.SQLite.dll
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net45/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net451/System.Data.SQLite.dll
src/packages/System.Data.SQLite.Core.1.0.96.0/lib/net451/System.Data.SQLite.xml
src/packages/System.Data.SQLite.Core.1.0.96.0/System.Data.SQLite.Core.1.0.96.0.nupkg
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net40/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net45/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/app.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/app.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/web.config.install.xdt
src/packages/System.Data.SQLite.EF6.1.0.96.0/content/net451/web.config.transform
src/packages/System.Data.SQLite.EF6.1.0.96.0/lib/net40/System.Data.SQLite.EF6.dll
src/packages/System.Data.SQLite.EF6.1.0.96.0/lib/net45/System.Data.SQLite.EF6.dll
src/packages/System.Data.SQLite.EF6.1.0.96.0/lib/net451/System.Data.SQLite.EF6.dll
src/packages/System.Data.SQLite.EF6.1.0.96.0/System.Data.SQLite.EF6.1.0.96.0.nupkg
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net40/install.ps1
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net45/install.ps1
src/packages/System.Data.SQLite.EF6.1.0.96.0/tools/net451/install.ps1
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net20/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net20/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net40/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net40/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net45/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net45/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net451/app.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/content/net451/web.config.transform
src/packages/System.Data.SQLite.Linq.1.0.96.0/lib/net20/System.Data.SQLite.Linq.dll
src/packages/System.Data.SQLite.Linq.1.0.96.0/lib/net40/System.Data.SQLite.Linq.dll
src/packages/System.Data.SQLite.Linq.1.0.96.0/lib/net45/System.Data.SQLite.Linq.dll
src/packages/System.Data.SQLite.Linq.1.0.96.0/lib/net451/System.Data.SQLite.Linq.dll
src/packages/System.Data.SQLite.Linq.1.0.96.0/System.Data.SQLite.Linq.1.0.96.0.nupkg
src/Path of Filters/obj/Debug/App.g.cs
src/Path of Filters/obj/Debug/App.g.i.cs
src/Path of Filters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Path of Filters/obj/Debug/MainWindow.baml
src/Path of Filters/obj/Debug/MainWindow.g.cs
src/Path of Filters/obj/Debug/MainWindow.g.i.cs
src/Path of Filters/obj/Debug/Path of Filters.csproj.FileListAbsolute.txt
src/Path of Filters/obj/Debug/Path of Filters.csprojResolveAssemblyReference.cache
src/Path of Filters/obj/Debug/Path of Filters.g.resources
src/Path of Filters/obj/Debug/Path of Filters.pdb
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.cache
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.i.cache
src/Path of Filters/obj/Debug/Path_of_Filters.Properties.Resources.resources
src/Path of Filters/obj/Debug/App.g.cs
src/Path of Filters/obj/Debug/App.g.i.cs
src/Path of Filters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Path of Filters/obj/Debug/MainWindow.baml
src/Path of Filters/obj/Debug/MainWindow.g.cs
src/Path of Filters/obj/Debug/MainWindow.g.i.cs
src/Path of Filters/obj/Debug/Path of Filters.csproj.FileListAbsolute.txt
src/Path of Filters/obj/Debug/Path of Filters.csprojResolveAssemblyReference.cache
src/Path of Filters/obj/Debug/Path of Filters.g.resources
src/Path of Filters/obj/Debug/Path of Filters.pdb
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.cache
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.i.cache
src/Path of Filters/obj/Debug/Path_of_Filters.Properties.Resources.resources
src/Path of Filters/obj/Debug/App.g.cs
src/Path of Filters/obj/Debug/App.g.i.cs
src/Path of Filters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Path of Filters/obj/Debug/MainWindow.baml
src/Path of Filters/obj/Debug/MainWindow.g.cs
src/Path of Filters/obj/Debug/MainWindow.g.i.cs
src/Path of Filters/obj/Debug/Path of Filters.csproj.FileListAbsolute.txt
src/Path of Filters/obj/Debug/Path of Filters.csprojResolveAssemblyReference.cache
src/Path of Filters/obj/Debug/Path of Filters.g.resources
src/Path of Filters/obj/Debug/Path of Filters.pdb
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.cache
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.i.cache
src/Path of Filters/obj/Debug/Path_of_Filters.Properties.Resources.resources
src/Path of Filters/obj/Debug/App.g.cs
src/Path of Filters/obj/Debug/App.g.i.cs
src/Path of Filters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/Path of Filters/obj/Debug/MainWindow.baml
src/Path of Filters/obj/Debug/MainWindow.g.cs
src/Path of Filters/obj/Debug/MainWindow.g.i.cs
src/Path of Filters/obj/Debug/Path of Filters.csproj.FileListAbsolute.txt
src/Path of Filters/obj/Debug/Path of Filters.csproj.GenerateResource.Cache
src/Path of Filters/obj/Debug/Path of Filters.csprojResolveAssemblyReference.cache
src/Path of Filters/obj/Debug/Path of Filters.g.resources
src/Path of Filters/obj/Debug/Path of Filters.pdb
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.cache
src/Path of Filters/obj/Debug/Path of Filters_MarkupCompile.i.cache
src/Path of Filters/obj/Debug/Path_of_Filters.Properties.Resources.resources
src/Path of Filters.v12.suo
